In [7]:
import pandas as pd
from sklearn.datasets import load_boston
# Create DataSet
boston_ds = load_boston()

#Create Dataframe
boston_df = pd.DataFrame(boston_ds.data,columns=boston_ds.feature_names)

# Extract columns 2-5 and rows 5-9
boston_df.iloc[4:9,1:5]

     ZN  INDUS  CHAS    NOX
4   0.0   2.18   0.0  0.458
5   0.0   2.18   0.0  0.458
6  12.5   7.87   0.0  0.524
7  12.5   7.87   0.0  0.524
8  12.5   7.87   0.0  0.524